<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> KVG NATIONAL BANK</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body class="container" style="margin-top: 50px;">
        <style>body{
            background-color: rgb(44, 38, 38);
        }
        ul{
            background-color: rgb(128, 80, 66);
        }
        .card{
            background-color: rgb(128, 80, 66);
        }
        div{
            background-color: rgb(54, 54, 54);
            color:white;
        }
        .button{
            
            background-color: #6d6b68;
            border: none;
            color: rgb(0, 0, 0);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        </style>
       
    <%if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>

    <div class="card">
    <div class="card-header">
        <ul class="nav nav-pills w-100">
            <li class="nav-pill active">
                <a class="nav-link">transactions</a>
            </li>
            <li class="nav-pill ml-auto">
                <a class="nav-link active" href="/"> Back</a>
            </li>
        </ul>
    </div>
    <div class="card-body">

        <% if (data.length) { %>
        <table class="container">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Forename</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Time</th>
                    <th scope="col">Account Action</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Account id</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                        <th scope="col"></th>
                        <td><%= data[i].Etunimi%></td>
                        <td><%= data[i].Sukunimi%></td>
                        <td><%= data[i].aika%></td>
                        <td><%= data[i].paikka%></td>
                        <td><%= data[i].maara%></td>
                        <td><%= data[i].tili_idTili%></td>
                        <td>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% } %>

<% if(!data.length) { %>
<p class="text-center"> Mitä vittua</p>
<% } %>

    </div>
    </div>

    </body>
</html>